{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}
{% block main %}
  

  <main id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-sharp fa-solid fa-receipt"></i></div>
            <div>
              <h4 class="title">Integrity and Accountability</h4>
              <p class="description">In our Online Car Auctioning system, integrity is the cornerstone of our operations. We prioritize transparency, honesty, and fairness in every aspect of the auction process. From the moment a seller uploads images of their vehicle to the platform, to the final bid awarded to the highest bidder, we ensure that every interaction is guided by integrity. </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><<i class="fa-sharp fa-solid fa-group-arrows-rotate"></i></i></div>
            <div>
              <h4 class="title">Diversity and Inclusiveness</h4>
              <p class="description">In our Online Car Auctioning system, diversity is celebrated and embraced at every level. We believe that diversity enriches our platform, bringing together a wide range of perspectives, experiences, and backgrounds.  </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-people-roof"></i></div>
            <div>
              <h4 class="title">Ingenuity</h4>
              <p class="description">In our Online Car Auctioning system, ingenuity is the driving force behind our innovative approach to revolutionizing the car auction industry. We pride ourselves on thinking outside the box, pushing boundaries, and constantly seeking new ways to enhance the auction experience for our users. </p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">
      <div class="section-header">
        <span>About Us</span>
        <h2>About Us</h2>
      </div>
        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="assets/img/cards.jpg" class="img-fluid" alt="">
            <a href="assets/video/reading.mp4" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p style="color: #034707">
            CarsDirect Auctions is your premier destination for hassle-free and innovative online car auctions. With a passion for excellence and a commitment to integrity, we've established ourselves as leaders in the automotive auction industry. Our platform offers a seamless and transparent experience for both buyers and sellers, providing a diverse selection of quality vehicles and a user-friendly bidding process.    
          </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="200" >
                <i class="bi bi-diagram-3"></i>
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Our Mission</h5>
                    <p style="color: #034707">"Our mission at CarsDirect Auctions is to revolutionize the car auctioning experience by providing a seamless, transparent, and innovative online platform.&quot;</p>
                  </div>
                  <br>
                  <div class="col-sm-12">
                    <h5>Our Vision</h5>
                    <p style="color: #034707">"At CarsDirect Auctions, our vision is to become the premier online destination for car enthusiasts, dealers, and buyers worldwide. We aspire to create a dynamic and inclusive marketplace where every transaction is characterized by transparency, integrity, and innovation.&quot;</p>
                  </div>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <a href="aboutus.php" style="background: #a9ff0d" class="btn btn-sm">Learn More</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
      <div class="container" data-aos="fade-up">


      </div>
    </section>
    <!-- End Stats Counter Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>What We Do</span>
          <h2>What We Do</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card serv">
              <div class="card-img">
                <img src="assets/img/cards.jpg" alt="service 1" class="img-fluid">
              </div>
              <h3><a href="#">Online Auctions</a></h3>
              <p> We host regular auctions where sellers can list their vehicles, complete with detailed descriptions and images, for potential buyers to bid on.</p>
              <div class="stretched-link">
               
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/onacution.jpeg" alt="service 2" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Bidding Platform</a></h3>
              <p>Our user-friendly bidding platform allows buyers to place competitive bids on vehicles of interest, facilitating a fair and transparent auction process.</p>
              <div class="stretched-link">
             
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/cass.jpeg" alt="service 3" class="img-fluid">
              </div>
              <h3><a href="#" class="stretched-link">Transaction Management</a></h3>
              <p>We facilitate the entire auction process, from bid placement to payment processing and vehicle delivery, to ensure smooth and secure transactions for both buyers and sellers.</p>
              <div class="stretched-link">
               
              </div>
            </div>
          </div><!-- End Card Item -->
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-header">
          <span>Our Features</span>
          <h2>Our Features</h2>
        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/cards.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Development</h3>
            <p syle="color: #034707" class="fst-italic">
           
In terms of development, at CarsDirect Auctions, we are continuously evolving and improving our platform to enhance the user experience and meet the changing needs of our customers.
 </p>
            
          </div>
        </div><!-- Features Item -->


        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/cards.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>The Impact</h3>
            <p syle="color: #034707" class="fst-italic">
            The impact of CarsDirect Auctions extends across various dimensions, influencing both the automotive industry and the broader community
           </p>
            
          </div>
        </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    Who we are?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                  CarsDirect Auctions is your premier destination for hassle-free and innovative online car auctions. With a passion for excellence and a commitment to integrity, we've established ourselves as leaders in the automotive auction industry

                </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    What are our objectives?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                   Our platform offers a seamless and transparent experience for both buyers and sellers, providing a diverse selection of quality vehicles and a user-friendly bidding process

                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  {% endblock %} 