{% extends 'base.html' %}
{% block title %} View Car {% endblock %}
{% block main %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('/static/img/contactus.jpg');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>View Cars</h2>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a style="color: #034707;" href="{% url 'index' %}">Home</a></li>
        <li>View Cars</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4 mt-4" id="car-list">
      <ul class="car-list"></ul>
      {% for car in cars %}

      <div class="col-lg-4">
        <div class="card h-100" id="car-{{ car.id }}">
          <img src="/media/{{ car.image }}" class="card-img-top" alt="{{ car.make }} {{ car.model }}"
            style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ car.make }} {{ car.model }} {{ car.year }}</h5>
            <p class="card-text">Bidding ends in: <span id="timer-{{ car.id }}" data-remaining-time="{{ car.remaining_time }}"></span></p>
            <a href="/view_car/{{car.id}}/" class="btn btn-primary">Bid Now</a>
          </div>
        </div>
      </div>

      {% endfor %}
      </ul>
    </div>
  </div>
</section><!-- End Contact Section -->

<script>
  // Update countdown timers every second
  setInterval(updateTimers, 1000);
  //updateTimers()

  function updateTimers() {
    var carList = document.getElementById('car-list').getElementsByClassName('card');
    for (var i = 0; i < carList.length; i++) {
      var carId = carList[i].id.split('-')[1];
      var timerElement = carList[i].querySelector('.card-body span[id^="timer-"]');
      if (timerElement) {
        var remainingTime = parseInt(timerElement.dataset.remainingTime);
        if (!isNaN(remainingTime)) {
          var remainingHours = Math.floor(remainingTime / 3600);
          var remainingMinutes = Math.floor((remainingTime % 3600) / 60);
          var remainingSeconds = remainingTime % 60;
          var timerText = 'Bidding ends in: ' + remainingHours + ' hours, ' + remainingMinutes + ' minutes, and ' + remainingSeconds + ' seconds';
          timerElement.textContent = timerText;
  
          if (remainingTime > 0) {
            remainingTime -= 1;
            timerElement.dataset.remainingTime = remainingTime;
          } else {
            // Remove the car from the list when time reaches zero
            carList[i].remove();
          }
        }
      }
    }
  }
</script>

{% endblock %}

{% block scripts %}

{% endblock %}